html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: MuseoSans;
    color: #222;
    background-color: black;
}

body.report {
    background-color: white;
    background-image: -webkit-linear-gradient(bottom, #ddd 0%, #fcfcfc 40%, #fff 100%);
}

body.watch {
    background-color: black;
}


/* HEADER */

header {
    height: 58px;
    background-image: -webkit-linear-gradient(bottom, #323232 0%, #121212 40%); 
    color: white;
    margin: 0;
    text-align: center;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -70px;
}

header h1 {
    margin: 0 auto;
    padding: 0.3em;
    width: 4em;
    font-family: MuseoSans;

    background-image: url('/static/logo.png');
    background-repeat: no-repeat;
    background-position: 6px 19px;
}

header h1 a {
    text-decoration: none;
    color: white;
}



/* WATCH */

ul#watch {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#watch li {
    padding: 1em;
    border-bottom: solid 3px black;
    background-color: white;
    color: #000;
}

div#report {
    background-image: -webkit-linear-gradient(bottom, #ddd 0%, #fcfcfc 40%, #fff 100%);
    padding: 0;
}

div#report a#show-report {
    text-align: center;
    text-decoration: none;
    font-family: MuseoSans;
    color: #454;
    display: block;
    width: 100%;
    padding: 1em 0;
    font-size: 120%;
}

ul#watch li p {
    margin: 0.1em 0;
}

ul#watch li#geolocation {
    color: #dcc;
    background-color: black;
    font-family: Anivers;
}

ul#watch li#geolocation a {
    color: white;
    text-decoration: none;
}

ul#watch li#geolocation a:hover {
    text-decoration: underline;
}

ul#watch li .play {
    font-family: CallunaSans;
}

ul#watch li .place {
    font-family: Anivers;
    font-size: 80%;
}

.place1 { background-image: -webkit-linear-gradient(bottom, #a199cc 0%, #d7d3eb 60%, #f4f2ff 100%); } /* blue */
.place2 { background-image: -webkit-linear-gradient(bottom, #74ab48 0%, #96cc6a 60%, #cef5b3 100%); } /* green */
.place3 { background-image: -webkit-linear-gradient(bottom, #e8e274 0%, #ede191 60%, #f5f5b6 100%); } /* gold */
.place4 { background-image: -webkit-linear-gradient(bottom, #cf9fd1 0%, #f1adff 60%, #f7deff 100%); } /* purple */
.place5 { background-image: -webkit-linear-gradient(bottom, #ffc96b 0%, #ffdf9e 60%, #fff2cc 100%); } /* orange */

.public { background-image: -webkit-linear-gradient(bottom, #6ad059 0%, #b6efa6 60%, #eef5c3 100%); }
.private { background-image: -webkit-linear-gradient(bottom, #ff9f2b 0%, #ffdf9e 60%, #fff2cc 100%); }



/* REPORT */

div#report {
    padding: 1px;
    margin: 2px 0;
}

div#report-forms {
    width: 18em;
    margin: 1em auto 2em;
}

div#report h2 {
    font-family: CallunaSans;
}

div#report label {
    font-family: Anivers;
    padding: 0.3em 0;
}

div#report .input {
    clear: left;
    margin: 0.8em 0;
}

div#report .input label {
    float: left;
}

div#report .input input {
    display: block;
    margin-left: 20%;
    width: 70%;
    padding: 0.5em;
    border: solid 1px #ccc;
}

div#report .select label {
    display: block;
}

div#report .select select {
    display: block;
    width: 95%;
    padding: 0.5em;
    border: solid 1px #ccc;
}

div#report .search-or-add-input div.box {
    border: solid 1px #ccc;
    width: 90%;
    background: white;
}

div#report .search-or-add-input input.search {
    border: none;
    padding: 0.5em;
    width: 80%;
}

div#report .search-or-add-input a.add {
    display: block;
    float: right;
    background: transparent url('/static/add.png') center center no-repeat;
    text-decoration: none;
    height: 1.9em;
    width: 1.9em;
}

div#report .no-label-input {
    clear: left;
    margin: 0.8em 0;
}

div#report .no-label-input input, div#report textarea {
    border: solid 1px #ccc;
    width: 90%;
    padding: 0.5em;
}

div#report textarea {
    font-family: sans-serif;
}

div#report .button-input {
    clear: left;
}

div#report .button-input input {
    padding: 1em;
    width: 20.6em;
}

div#report .button-input input:disabled {
    border: none;
    font-style: italic;
}

div#report .button-input input.on {
    border: solid 1px #464;
    background-image: -webkit-linear-gradient(top, #7ae069 0%, #c6ffb6 60%, #feffd3 100%);
    border-radius: 2px;
    font-weight: bold;
    color: #131;
}

div#report .submit {
    margin: 1em 0;
}

div#report .submit input {
    padding: 1em;
    margin-left: 20%;
}

div#report #tell-us {
    display: none;
}

div#report #id_name {
    color: #999;
}

div#report #id_name.set {
    color: #000;
}


ul.errorlist {
    list-style: none;
}

ul.errorlist ul.errorlist {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.error {
    margin: 1em 0;
    padding: 1em;
    background-image: -webkit-linear-gradient(bottom, #ffc96b 0%, #ffdf9e 60%, #fff2cc 100%);
    border: solid 1px #c00;
    color: #c00;
    border-radius: 0.5em;
}

.autocomplete-w1 {
    position: absolute;
    top: 0;
    left: 0;
}

.autocomplete {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    max-height: 350px;
    overflow: auto;
}

.autocomplete .selected {
    background: #F0F0F0;
}

.autocomplete div {
    padding: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete strong {
    font-weight: normal;
    color: #3399FF;
}



/* FOOTER */

footer {
    background-image: -webkit-linear-gradient(bottom, #cc2326 34%, #ef3d40 67%, #ef5c61 84%);
    color: #411;
    font-family: MuseoSans;
    padding: 16px 0 0;
    text-align: center;
    height: 54px;
    position: relative;
    bottom: 0;
    font-size: smaller;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    padding: 0 1em;
}

footer a {
    text-decoration: none;
    color: #411;
}

.push { height: 70px; }
