<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- script>
// @todo - we need to handle the autocomplete here also
document.write('<script src=' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script-->
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.backbone.autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base64.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}plase.js"></script>
<link rel="stylesheet" href="/static/fonts.css">
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=300">
{% block head %}<!-- javascript etc -->{% endblock %}
<title>{% block pagetitle %}What's playing right now near you{% endblock %} | plase</title>
</head>
<body class="{% block bodyClass %}plase{% endblock %}">
    <div id="wrapper">
    <header>
        <h1><a href="/">plase</a></h1>
        <!-- some links -->
    </header>
    <div id="content">
        <div id="report">
            <a id="show-report">Tell us what's playing&hellip;</a>
            <div id="report-forms">
                <p class="error" style="display: none">Did you miss something? Don't be shy about filling out the highlighted fields.</p>
                <form id="add-place">
                    {% csrf_token %}
                    <h2>Where are you?</h2>
                    <div id="place-details">
                        <div class="no-label-input">{{ place_form.name }}</div>
                        <h2>Tell us about it</h2>
                        <div class="input">{{ place_form.summary }}</div>
                        <div class="select">{{ place_form.listening_to.label_tag }}{{ place_form.listening_to }}</div>
                        <div class="select">{{ place_form.public.label_tag }}{{ place_form.public }}</div>
                    </div><!-- place-details -->
                </form>
                <form id="add-play">
                    {% csrf_token %}
                    <h2>What's playing there?</h2>
                    {{ play_form.place }}
                    <div id="nothing">
                        {{ play_form.nothing }}
                        <input type="button" value="Nothing" id="nothing-button" />
                    </div><!-- nothing -->
                    <div id="something">
                        <div class="input">{{ play_form.artist.label_tag }}{{ play_form.artist }}</div>
                        <div class="input">{{ play_form.title.label_tag }}{{ play_form.title }}</div>
                    </div><!-- something -->
                    <div class="submit"><input type="submit" value="That's it!" /></div>
                </form>
            </div> 
        </div>
        <ul id="watch">
            <li id="geolocation">Please enable Geolocation to see what's playing near you. If you want to hide your own location, or find out what's playing somewhere else, why not use a Geolocation spoofer like the <a href="https://play.google.com/store/apps/details?id=com.lexa.fakegpsdonate&hl=en">Fake GPS Location</a> app?
            </li>
        </ul>
    </div><!-- content -->
    <div class="push"><!-- bullshit hack to make the footer stick to the bottom --></div>
    </div><!-- wrapper -->
    <footer>
        <ul>
            <li><a href="/">feedback</a></li>
            <li><a href="/">help</a></li>
        </ul>
    </footer>
{% include 'templates.html' %}
</body>
</html>
