{% extends 'base.html' %}

{% block head %}<script type="text/javascript" src="{{ STATIC_URL }}watch.js"></script>{% endblock %}
{% block pagetitle %}What's playing right now near you{% endblock %}
{% block bodyClass %}watch{% endblock %}

{% block content %}
<ul id="watch">
<li id="report"><a href="/report/">Tell us what's playing&hellip;</a></li>
{% for play in plays %}
<li class="place1">
    <p class="play"><span class="artist">{{ play.artist}}</span> &mdash; <span class="title">{{ play.title }}</span></p>
    <p class="place"><span>{{ play.place.name }}</span></p>
</li>
{% endfor %}




</ul>
{% endblock %}
