{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}base64.js"></script>
<!-- script type="text/javascript" src="{{ STATIC_URL }}watch.js"></script -->
{% endblock %}
{% block pagetitle %}What's playing right now near you{% endblock %}
{% block bodyClass %}watch{% endblock %}

{% block content %}
<ul id="watch">
<li id="geolocation">Please enable Geolocation to see what's playing near you. If you want to hide your own location, or find out what's playing somewhere else, why not use a
Geolocation spoofer like the <a href="https://play.google.com/store/apps/details?id=com.lexa.fakegpsdonate&hl=en">Fake GPS Location</a> app?
</li>
</ul>
{% endblock %}
