            <div id="report-forms" style="display: none">
                <p class="error" style="display: none">Did you miss something? Don't be shy about filling out the highlighted fields.</p>
                <form id="add-place" onsubmit="return false">
                    {% csrf_token %}
                    <h2>Where are you?</h2>
                    <div id="place-details">
                        <input type="hidden" name="id" id="id_id" data-last-added="" />
                        <div class="no-label-input">{{ place_form.name }}</div>
                        <div class="button-input" id="add-place-control">
                        	<input type="button" value="Add Place" id="add-place-button" />
                        </div>
                        <h2>Tell us about it</h2>
                        <div class="input">{{ place_form.summary }}</div>
                        <div class="select">{{ place_form.listening_to.label_tag }}{{ place_form.listening_to }}</div>
                        <div class="select">{{ place_form.public.label_tag }}{{ place_form.public }}</div>
                    </div><!-- place-details -->
                </form>
                <form id="add-play">
                    {% csrf_token %}
                    <h2>What's playing there?</h2>
                    <input type="hidden" name="place" id="id_place" value="{{ play_form.place.value }}" />
                    <div class="button-input" id="nothing">
                        <input type="hidden" name="nothing" id="id_nothing" value="{% if play_form.nothing.value %}true{% endif %}" />
                        <input type="button" value="Nothing" id="nothing-button" />
                    </div><!-- nothing -->
                    <div id="something">
                        <div class="input">{{ play_form.artist.label_tag }}{{ play_form.artist }}</div>
                        <div class="input">{{ play_form.title.label_tag }}{{ play_form.title }}</div>
                    </div><!-- something -->
                    <div class="submit"><input type="submit" value="That's it!" /></div>
                </form>
            </div> 
        </div>